<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".g.cs" #>
namespace DataSheep;

<#
for(var i = 2; i <= 7; ++i)
{
    var typeArgs = CommaChain(i, x => $"T{x}");
#>
internal readonly struct ValueTupleTrait<<#=typeArgs#>> : IValueTupleTrait<(<#=typeArgs#>)>
{
    public static int ColumnCount => <#=i#>;
    int IRecordTrait.ColumnCount => <#=i#>;

    public static IReadOnlyList<string> DefaultColumnNames { get; }
    = new ArraySegment<string>(ValueTupleTrait.DefaultColumnNames, 0, <#=i#>);
    IReadOnlyList<string> IRecordTrait.DefaultColumnNames => DefaultColumnNames;

    public static IMutableSeries CreateSeries(int columnIndex, int initialCapacity, string columnName)
        => columnIndex switch {
<#  for(var j = 0; j < i; ++j) { #>
            <#=j#> => new MutableSeries<T<#=j+1#>>(columnName, initialCapacity),
<#  } #>
            _ => throw new ArgumentOutOfRangeException(nameof(columnIndex)),
        };
    IMutableSeries IRecordTrait.CreateSeries(int columnIndex,int initialCapacity, string columnName)
        => CreateSeries(columnIndex, initialCapacity, columnName);

    public static void ReadFromSeries(ReadOnlySpan<ISeries> series, int rowIndex, Span<(<#=typeArgs#>)> destination)
    {
<#  for(var j = 0; j < i; ++j) { #>
        var ser<#=j+1#> = series[<#=j#>];
<#  } #>
        for(var i = 0; i < destination.Length; i++)
        {
            var j = rowIndex + i;
            destination[i] = (<#=CommaChain(i, x => $"ser{x}.GetValue<T{x}>(j)")#>);
        }
    }
    void IRecordTrait<(<#=typeArgs#>)>.ReadFromSeries(ReadOnlySpan<ISeries> series, int rowIndex, Span<(<#=typeArgs#>)> destination)
        => ReadFromSeries(series, rowIndex, destination);

    public static void WriteToSeries(ReadOnlySpan<IMutableSeries> series, int rowIndex, ReadOnlySpan<(<#=typeArgs#>)> source)
    {
<#  for(var j = 0; j < i; ++j) { #>
        var ser<#=j+1#> = series[<#=j#>];
<#  } #>
        for(var i = 0; i < source.Length; i++)
        {
            var j = rowIndex + i;
<#  for(var j = 0; j < i; ++j) { #>
            ser<#=j+1#>.SetValue<T<#=j+1#>>(j, source[i].Item<#=j+1#>);
<#  } #>
        }
    }
    void IRecordTrait<(<#=typeArgs#>)>.WriteToSeries(ReadOnlySpan<IMutableSeries> series, int rowIndex, ReadOnlySpan<(<#=typeArgs#>)> source)
        => WriteToSeries(series, rowIndex, source);
}

<#  } #>
<#+
string CommaChain(int end, Func<int, string> predicate)
    => string.Join(", ", Enumerable.Range(1, end).Select(predicate));
#>